:root {
    --primary-light: #0C6434;
    --primary: #0C6434;
    --primary-dark: #0C6434;
    --ewha-green: #00462A;
    --pair-color: #FFCF94;
    
    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;

    --shadow: .1rem .1rem .2rem var(--greyLight-2), 
            -.1rem -.1rem .25rem var(--white);
    --inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2), 
                    inset -.2rem -.2rem .5rem var(--white);
  }

html{
  font-family: 'Pretendard-Regular';
}
.container{
  margin: 1rem;
}

.category {
  height: 1.5rem;
  width: 5rem;
  line-height: 1.5rem;
}

/*  SWITCH  */
.switch { 
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-gap: 0.5rem;
    justify-self: center;
    input { display: none; }
    
    &__1, &__2, &__3, &__4, &__5, &__6, &__7, &__8, &__9 {
    width: 3rem;
      label {
      display: flex;
      align-items: center;
          width: 100%;
      height: 1.5rem;
      box-shadow: var(--shadow);
      background: rgba(255,255,255,0);
          position: relative;
          cursor: pointer;
          border-radius: 1.6rem;
      
          &::after {
              content: "";
        position: absolute;
        left: .2rem;
              width: 1.1rem;
              height: 1.1rem;
        border-radius: 50%;
        background: var(--greyDark);
              transition: all .4s ease;
        }
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background: linear-gradient(330deg, var(--primary-dark) 0%, var(--primary) 50%, var(--primary-light) 100%);
        opacity: 0;
        transition: all .4s ease;
      }
        }
    }
    & input:checked {
          & ~ label {
            &::before { opacity: 1; }
            &::after {
              left: 57%; 
              background: #FFCF94;
            }
          }
      }
  }
  

  .btn {
    margin-bottom: 0.5rem;
    width: 10.5rem;
    height: 1.5rem;
    border-radius: 0.3rem;
    box-shadow: var(--shadow);
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s ease;
  
    &Add, &Del {
      background: var(--primary);
      box-shadow:inset .2rem .2rem 1rem var(--primary-light), 
                inset -.2rem -.2rem 1rem var(--primary-dark),
                var(--shadow);
      color: var(--greyLight-1);
  
      &:hover { color: var(--white); }
      &:active {
        box-shadow:inset .2rem .2rem 1rem var(--primary-dark), 
               inset -.2rem -.2rem 1rem var(--primary-light);
      }
    }

    &Add {
      float: left;
    }
  
    p { 
      font-size: 1rem;
    }
  }


  .form {
 
    &__input {
      width: 10rem;
      height: 2rem;
      border: none;
      border-radius: 0.3rem;
      font-size: 1rem;
      padding-left: 0.5rem;
      margin-bottom : 0.5rem;
      box-shadow: var(--inner-shadow);
      background: none;
      font-family: inherit;
      color: var(--greyDark);
  
      &::placeholder { color: var(--greyLight-3); }
      &:focus { outline: none; box-shadow: var(--shadow); }
    }
    
  }


  .text {
    margin-top: 0.5rem;
  }

  @font-face {
    font-family: 'Pretendard-Regular';
    src: url('./Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}